
<header class="header" style="position: relative; z-index: 500;">
<link rel="stylesheet" href="/css/header.css">
  

  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <div class="header__top__left">
          </div>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar navbar-expand-lg">
  <!-- Logo on left -->
  <a class="navbar-brand d-flex align-items-center" href="#" style="linear-gradient(90deg, #667eea, #764ba2)">
    <img src="/img/hero/cr.jpg" alt="Logo" width="108px" height="131px" class="me-2">
   
  </a>


      <div class="col-lg-6 col-md-6" >
        <nav class="header__menu mobile-menu">
          
          <ul>
            
            <li><a href="/">Home</a></li>
        <li><a href="/Shop">Shop</a></li> 
        
               <ul class="dropdown"> 
          <li><a href="./about.html">About Us</a></li> 

   
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contacts</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <% if (typeof user!=="undefined"&&user) { %>
  <div class="dropdown">
    <a href="#" class="sign-in-link"><%= user.name %></a>
    <div class="dropdown-content">
      <a href="/userprofile">Profile</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
<% } else { %>
  <a href="/signup" class="sign-in-link">Sign Up</a>
  <a href="/login" class="sign-in-link">Log In</a>
<% } %>

          <a href="#" class="search-switch">
            <img src="img/icon/search.png" alt="">
          </a>
          <a href="#">
            <img src="img/icon/heart.png" alt="">
          </a>
          <a href="./shopping-cart.html">
            <!-- <img src="image/icon/cart.png" alt=""><span></span> -->
          </a>
        </div>
      </div>
    </div>

    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->
