<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
    
</head>
<link rel="stylesheet" href="/css/success.css">
<body>
    <div class="card">
        <div class="icon">😊</div>
        <h2>Woo hoo!!</h2>
        <p>Congrats! Admin login was successful.</p>
       <a href="/admin/dashboard" class="btn">Done</a>

        </form>
    </div>
</body>
</html>


