@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

/* MAIN CARD */
.login-container {
  width: 380px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 32px;
}

/* REMOVE IMAGE SECTION EFFECT */
.image-section {
  display: none;
}

/* FORM SECTION */
.form-section {
  width: 100%;
}

/* HEADERS */
.login-heading {
  display: none;
}

.form-section h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}

.form-section p {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.form-section a {
  color: #000;
  text-decoration: underline;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* INPUTS */
input {
  width: 100%;
  height: 42px;
  padding: 0 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #000;
}

input::placeholder {
  color: #999;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  height: 44px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.login-btn:hover {
  background: #222;
}

/* GOOGLE BUTTON */
.google-btn {
  width: 100%;
  height: 44px;
  margin-top: 14px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn:hover {
  background: #f5f5f5;
}


.forgot-password {
  text-align: right;
  margin: 8px 0 16px;
}

.forgot-password a {
  font-size: 14px;
  color: #6c63ff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
