<!DOCTYPE html>
<html>
<head>
  <title>Edit Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

<h2>Edit Profile</h2>

<form action="/profile/update" method="POST">

  <!-- Name -->
  <label>Name</label>
  <input type="text" name="name" value="<%= user.name %>" required>

  <!-- Phone -->
  <label>Phone</label>
  <input type="text" name="phone" value="<%= user.phone %>" required>



  <!-- Email (Readonly) -->
  <label>Email</label>
  <input type="email" value="<%= user.email %>" readonly>

  <br><br>

  <button type="submit">Save Profile</button>
</form>

<hr>


</body>
</html>
