<!-- =============== HEADER =============== -->
    <header class="header">
        <div class="logo">
            <div class="logo-icon">V</div>
            <span>VogueLuxe</span>
        </div>
        
    
        
       <div class="header-right"> 
            <!-- <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-input" placeholder="Search for something">
            </div> --> 
            <!-- <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=100&h=100&fit=crop&crop=face" alt="User" class="user-avatar"> -->
        </div>
    </header>

    <!-- =============== SIDEBAR =============== -->
    <aside class="sidebar">
        <ul class="sidebar-menu">
            <li class="sidebar-item">
                <a href="" class="sidebar-link ">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/product" class="sidebar-link">
                    <i class="fas fa-cube"></i>
                    <span>Products</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/user" class="sidebar-link ">
                    <i class="fas fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link ">
                    <i class="fas fa-shopping-bag"></i>
                    <span>Orders</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/admin/category" class="sidebar-link ">
                    <i class="fas fa-list"></i>
                    <span>Category</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-ticket-alt"></i>
                    <span>Coupons</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fas fa-gift"></i>
                    <span>Offers</span>
                </a>
            </li> 
        </ul>
       <div class="logout-section">
    <a href="/admin/login" class="logout-btn">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
    </a>
</div>
    </aside>